h3 Lots of links
.row-fluid(style='margin:10px 5px')
  .span4
    ul
      li Link
      li Link
      li Link
  .span4
    ul
      li Link
      li Link
      li Link
  .span4
    ul
      li Link
      li Link
      li Link
.row-fluid(style='margin:10px')
  | more text here
