h3 Two columns
.row-fluid(style='margin:10px 5px')
  .span6
    ul
      li Link
      li Link
      li Link
  .span6
    ul
      li Link
      li Link
      li Link
.row-fluid(style='margin:10px')
  | more text here
